.card{
  border:none;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px;
}
.card-title{
  text-align:center;
  font-weight: bold;
}
.card-text{
  text-align: center;
}
.btn{
  margin-left: 22%;
}
img{
  margin-left:40%;
  width: 50px;
  heigh:30px;
}
