<div class="row">
  <div class="col-sm-12">
    <app-cabecera></app-cabecera>
  </div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-5" id="cuadroEnviar">
    <h2>Consejo legal de abogados</h2>
    <p>Envíanos tu pregunta detallada y uno de nuestros abogados colaboradores te dará un
      asesoramiento personalizado a tu pregunta, por teléfono o por correo electrónico.
      Tendrás tu respuesta en menos de 48 horas (excepto fines de semana y días festivos).</p>
    <h6>Cuál es tu pregunta?</h6>
    <form action="#">
      <input type="text" name="asesoriaEnviar" placeholder="Escribe tu pregunta aquí">
      <h6>Sobre qué es la pregunta?</h6>
      <select class="form-control">
        <option selected>Elige entre todos los temas</option>
        <option value="1">Acoso laboral</option>
        <option value="2">Asociaciones</option>
        <option value="3">Bajas laborales</option>
      </select>
    </form>
  </div>
  <div class="col-sm-5">

  </div>
</div>
