<div class="row" id="titulo">
  <div class="col-sm-12">
    <app-cabecera></app-cabecera>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-carousel-titulo [resultado]="arAsociaciones"></app-carousel-titulo>
  </div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-7">
    <p>Si quieres unirte a otras personas para desarrollar fines sociales o de interés general, crea una fundación o una asociación.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-7">
    <h4>Fundaciones</h4>
    <p>Las fundaciones, en sus estatutos,  tienen que tener un interés general, no son una empresa, por ejemplo se tiene que dedicar a:

      la defensa de los derechos humanos
      interés de las víctimas del terrorismo y actos violentos
      asistencia social e inclusión social
      fines cívicos, educativos, culturales, científicos, deportivos, sanitarios, laborales
      fines de cooperación para el desarrollo, de promoción del voluntariado, de promoción de la acción social
      fines de defensa del medio ambiente
      fomento de la economía social
      promoción y atención a las personas en riesgo de exclusión por razones físicas, sociales o culturales, etc.
      Ten presente que el objetivo de la fundación no es ser una empresa o negocio para ganar dinero, porque no puede tener ánimo de lucro, pero las fundaciones podrán desarrollar actividades económicas cuyo objeto esté relacionado con los fines fundacionales o sean complementarias o accesorias de las mismas y podrán obtener ingresos por sus actividades. También pueden recibir donaciones que habrá que justificar mediante el correspondiente certificado de donaciones. Para saber más consulta nuestra guía rápida Fundación sin ánimo de lucro.</p>
  </div>
</div>
