<div class="row">
  <div class="col-sm-12">
    <app-cabecera></app-cabecera>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-consultas [resultado]="arConsultaForm"></app-consultas>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center">Como funciona</h2>
  </div>

</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <app-card-no-boton></app-card-no-boton>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row" id="footer">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <app-footer></app-footer>
  </div>
  <div class="col-sm-2"></div>
</div>
