<div class="row">
  <div class="col-sm-12">
    <app-cabecera></app-cabecera>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-caption">
          <h1>Frase</h1>
        </div>
        <div class="item active">
          <img src="assets/automata3.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-1"></div>

  <div class="col-sm-7">
    <p>Info</p>
  </div>

  <div class="col-sm-4"></div>
    <h5>Secciones</h5>
    <h6>Descripcion</h6>
    <hr>
</div>

