<h3>CONTRATO DE ARRENDAMIENTO</h3>

<p>En la ciudad de <input type="text" value={{message.lugar}} disabled>, el día <input type="text" value={{message.fecha}} disabled>, entre <input type="text" value={{message.nombreArrendador}} disabled> con C.C.
  <input type="text" value={{message.cedulaArrendador}} disabled>, a quien en adelante se le denominará como el <span>ARRENDADOR;</span> y por
  otra parte <input type="text" value={{message.nombreArrendatario}} disabled> con C.C. <input type="text" value={{message.cedulaArrendatario}} disabled> a quien en adelante y asimismo para
  efectos derivados de este instrumento se conocerá como el <span>ARRENDATARIO,</span> se
  procede a suscribir el contrato que se detalla en las siguientes cláusulas.
</p>

<p>
  Los comparecientes hábiles para contratar, voluntariamente y de mutuo acuerdo
  convienen en celebrar el presente contrato de arrendamiento, de buena fe y sujeto
  a las siguientes cláusulas:
</p>

<h4>PRIMERA: ANTECEDENTES.-</h4>
<p>
  El ARRENDADOR es propietario de un <input type="text" value={{message.tipoVivienda}} disabled> ubicado en <input type="text" value={{message.ubicacion}} disabled>
</p>

<h4>SEGUNDA: ARRENDAMIENTO.-</h4>
<p>Por medio del presente instrumento, la ARRENDADORA da en arrendamiento al ARRENDATARIO el inmueble descrito en la cláusula anterior.</p>

<h4>TERCERA: CANON.-</h4>
<p>El canon de arrendamiento mensual que las partes han convenido libre y voluntariamente
  es de US$ <input type="text" value={{message.canon}} disabled>. Una vez
  terminado el plazo el canon de arrendamiento se incrementará en un porcentaje similar a
  la inflación.  </p>

<h4>CUARTA: PAGOS DE SERVICIOS ADICIONALES.-</h4>
<p>
  El pago de los servicios de energía eléctrica, medidor No. <input type="text" value={{message.numeroMedidor}} disabled>, teléfono
  número <input type="text" value={{message.numeroTelefono}} disabled> serán de cuenta del ARRENDATARIO. El ARRENDATARIO
  entregará al final del contrato los comprobantes de pago al ARRENDADOR y notificará
  a éste si se han hecho llamadas telefónicas al exterior en los últimos meses de arriendo y
  efectuará el pago correspondiente.
</p>

<h4>QUINTA: PLAZO.-</h4>
<p>
  El plazo de duración de este contrato es de <input type="text" value={{message.duracion}} disabled>, que se iniciará en <input type="text" value={{message.fechaInicio}} disabled>,
  podrá ser renovado por periodos iguales, previo acuerdo de las partes. Caso contrario, cualquiera de las partes deberá notificar a la otra por
  escrito, con <input type="text" value={{message.diasNotificacionVoluntad}} disabled> días de anticipación, su voluntad de dar por terminado el presente contrato.
</p>

<h4>SEXTA: MANTENIMIENTO, REPARACIONES Y MEJORAS.-</h4>
<p>
  La ARRENDADORA entrega el inmueble objeto del presente contrato en perfecto estado
  de conservación, previa la entrega detallada en inventario adjunto, por lo cual EL
  ARRENDATARIO, se obliga a devolverlo en las mismas condiciones. EL
  ARRENDADOR se compromete a reparar por su cuenta, los daños de tubería del agua,
  circuitos eléctricos, calentador de agua, exceptuando los daños ocasionados por culpa o
  negligencia del ARRENDATARIO en cuyo caso será responsable del pago de todas las
  reparaciones que la ley califique como locativas. Toda mejora al inmueble debe ser
  previamente aprobada por el ARRENDADOR.
</p>

<h4>SEPTIMA: DERECHOS Y DEBERES DEL ARRENDATARIO.-</h4>
<p>
  EL ARRENDADOR está obligado a respetar los derechos del ARRENDATARIO
  garantizando el uso tranquilo del inmueble, sin hacer obras que obstaculicen la ocupación
  y en definitiva concediendo las garantías que la Ley de Inquilinato vigente y el Código
  Civil confieren al ARRENDATARIO. EL ARRENDATARIO por su parte se
  compromete a observar las disposiciones del artículo 30 de la Ley de Inquilinato.
</p>

<h4>OCTAVA: DESTINO.-</h4>
<p>
  El inmueble objeto del presente contrato deberá ser destinado exclusivamente para
  vivienda  no pudiendo ser destinado a otros propósitos sin consentimiento previo del
  ARRENDADOR.
</p>

<h4>NOVENA: ALTERACIONES.-</h4>
<p>
  El ARRENDATARIO no podrá hacer alteraciones en el inmueble referido en el presente
  contrato sin el consentimiento previo del ARRENDADOR. Las mejoras si las hubiere
  quedarán en beneficio del ARRENDADOR.
</p>

<h4>DECIMA: RENUNCIA DE DERECHO.-</h4>
<p>
  El ARRENDATARIO acepta el canon de arrendamiento acordado, y por lo tanto,
  renuncia al derecho sobre la fijación del precio del arrendamiento por parte de la oficina
  de Registros de Arrendamiento de la Municipalidad de Quito, sea éste mayor o menor el
  canon estipulado en el presente contrato y además a cualquier otro fijación de precios de
  arrendamiento de predios urbanos.
</p>

<h4>DECIMA PRIMERA: TERMINACION.-</h4>
<p>
  En caso de terminación por vencimiento de plazo, las partes se comprometen a dar aviso
  por escrito por lo menos con <input type="text" value={{message.diasNotificacionTerminacion}} disabled> días de anticipación a la terminación de este contrato.
</p>

<h4>DECIMA SEGUNDA: JURISDICCION Y COMPETENCIA.-</h4>
<p>En todo lo que no este previsto en este contrato, y para el caso de controversia que no
  pudiese solucionarse de común acuerdo, las partes se sujetan a los jueces competentes de
  esta ciudad de Quito y al trámite verbal sumario.
</p>

<h4>DECIMA TERCERA: ANEXOS</h4>
<p>
  Como anexos al presente contrato se adjuntan:
</p>
<ol>
  <li>Copias de las cédulas de identidad</li>
  <li>Inventario</li>
</ol>

<h4>ÚLTIMA.-</h4>
<p>Las partes se ratifican en el contenido de este instrumento y para constancia de
  aceptación,  firman  en dos ejemplares del mismo tenor y valor, en unidad de acto.

</p>

<div class="row" id="firma">
  <div class="col-sm-6">
    <p>EL ARRENDATARIO</p>
    <P>C.C. <input type="text" value={{message.cedulaArrendatario}} disabled></P>
  </div>
  <div class="col-sm-6">
    <p>EL ARRENDADOR</p>
    <P>C.C. <input type="text" value={{message.cedulaArrendador}} disabled></P>
  </div>
</div>

<p><input type="text" value={{message.lugar}} disabled>, <input type="text" value={{message.fecha}} disabled></p>
