<div class="row">
  <div class="col-sm-12">
    <app-cabecera></app-cabecera>
  </div>
</div>
<div class="row" id="cuadroInicio">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" id="cuadro">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">Inicia sesión en tu cuenta</h1>
        <hr />
      </div>
    <form class="form-horizontal" method="post" action="#">

      <div class="form-group">
        <div class="col-sm-12">
          <div class="input-group">
            <input id="email" type="text" class="form-control" name="email" placeholder="Email">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <div class="input-group">
            <input type="password" class="form-control" name="contraseña" id="contraseñaIniciSesion"  placeholder="Contraseña"/>
          </div>
        </div>
      </div>

      <div class="form-group text-center">
          <button type="button" class="btn btn-sm btn-warning login-button">Iniciar sesión</button>
          <div class="login-register">
            <p>No tienes una cuenta?<a [routerLink]="['/registro']">Regístrate</a></p>
          </div>
        </div>
    </form>
  </div>
  <div class="col-sm-4"></div>
  </div>
</div>
