img{
  width: 100%;
  height: 550px;
}
.carousel-caption {
  background-color: rgba(16, 14, 14, .5);
  color:white;
  max-width: 500px;
  position: absolute;
  margin-bottom: 5%;
}
form{
  padding: 35px 20px;
  text-align: justify;

}
a,input{
  position: relative;
}
input{
  height: 100px;
  width: 98%;
}
.btn{
  margin: 15px 0px;
}
