<footer class="page-footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluidtext-md-left">

    <!-- Grid row -->
    <div class="row">

      <div class="col-sm-8">

        <h5 class="text-uppercase">Automata</h5>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li>
                <a href="#!">Sobre nosotros</a>
              </li>
              <li>
                <a href="#!">Contactate con nosotros</a>
              </li>
              <li>
                <a href="#!">¿Cómo funciona?</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li>
                <a href="#!">Tarifas</a>
              </li>
              <li>
                <a href="#!">Políticas de privacidad</a>
              </li>
              <li>
                <a href="#!">Condiciones generales de uso</a>
              </li>
            </ul>
          </div>

        </div>

      </div>

      <div class="col-sm-4">

        <h6 class="text-uppercase">Síguenos en:</h6>
        <div class="iconos">
        <a class="fb-ic">
          <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
          <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
        </a>
        </div>
      </div>
      <!-- Grid column -->



    </div>
    <!-- Grid row -->

  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright: Automata
  </div>

</footer>

